<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arterymusic.mapper.UserMapper">

	<!-- 用户登录(通过用户名查询用户)-->
	<select id="queryUserByUserName" parameterType="String" resultType="User">
		select *from arterymusic.an_user
		where account = #{account}
	</select>
	<!-- 查询数据表am_user中所有的数据-->
	<select id="queryAll" resultType="User">
		select *from an_user
	</select>
	<select id="queryUserById" resultType="User">
		select *from arterymusic.an_user
		where id = #{id}
	</select>
	<!-- 注册-->
	<insert id="createUser" parameterType="User">
		insert into an_user(account, password,email)
		values (#{account}, #{password},#{email})
	</insert>
	<!-- 修改用户-->
	<update id="updateUser" parameterType="User">
		update an_user
		set account = #{account},password = #{password},email = #{email}
		where id = #{id}
	</update>

	<!-- 删除用户-->
	<delete id="deleteUser" parameterType="int">
		delete from an_user where id = #{id}
	</delete>


</mapper>