/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "得意黑 斜体";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/HP66vTvtt0wi.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/XENy7EvvxdiJ.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 35 Thin";
    font-weight: 250;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/iw2jRauzIShh.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/ftX4Na9e8fKa.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 45 Light";
    font-weight: 300;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/iJZ47zBMInt7.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/FNeVofhwjgUQ.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 55 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/gtaOOEhuWA7U.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/hu1685EKM6ox.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 65 Medium";
    font-weight: 500;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/X0Mc4rFa9pry.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/B7pg4Fs88VZr.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 75 SemiBold";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/orvEvTjSWT8e.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/2MunHzGOvI3W.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 85 Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/2hpkoQ1wtBj3.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/TPZ45mUxy98c.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 95 ExtraBold";
    font-weight: 800;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/zSgnyluOdygU.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/z4hrdqXVw0gW.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 105 Heavy";
    font-weight: 900;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/VTtSaRIJGrEU.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/XUtIdoyGfuZw.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 115 Black";
    font-weight: 1000;
    src: url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/hyazTquvFMCy.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/6blZe2a1WkA2/v9OD9UaXRchY.woff") format("woff");
    font-display: swap;
}